@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Patrick+Hand&display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:  "Passion One", sans-serif;
    --fonte3: "Patrick Hand", cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte1);
    background-color: darkgray;
}

header, address {
    background-color: rgb(35, 35, 253);
    color: rgb(192, 192, 192);
    text-align: center;
    padding: 15px;
    font-size: 1em;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}


address {
    color: rgb(192, 192, 192);
    font-weight: bold;
    font-style: normal;
}

a {
    color: rgb(192, 192, 192);
    text-decoration: none;
    font-weight: bold;
}

address a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > blockquote {
    display: block;
    padding-bottom: 2em;
    white-space: pre-line;
    font-style: normal;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.573);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > blockquote {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.507);
    text-shadow: 2px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/ladybug.jpg');
    background-position: center center;
    filter: sepia(60%);
}

section#img02 {
    background-image: url('../imagens/letter.jpg');
    filter: sepia(60%);
}

section.normal {
    background-color: white;
    color: black;
}

footer {
    background-color: rgb(35, 35, 253);
    color: rgb(192, 192, 192);
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
}